<p>
  <strong>Name:</strong>
  <%= product.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= product.manufacturer %>
</p>

<p>
  <strong>Release year:</strong>
  <%= product.release_year %>
</p>

<h4>Sells</h4>

<!--===== sem cache ======-->
<% product.sells.each_with_index do |sell, index| %>
  <p><%= (index + 1) %>. <%= sell.date.strftime("%d/%m/%Y") %></p>
<% end %>

<!-- ===== com cache  russian doll ====== um cache para todos os registros -->
<%#= render partial: "sells/sell", collection: product.sells, cached: true %>

<!-- === com cache russian doll por cada venda === um cache para cada registro-->
<%# product.sells.each do |sell| %>
  <%# cache sell do %>
    <%#= render sell %>
  <%# end %>
<%# end %>

<!-- ==== low level caching ====-->
<p>
  <strong>Last Sell:</strong>
  <%= product.last_sell.date.strftime("%d/%m/%Y") %>
</p>